html {
    font-size:100%;
	overflow-y:scroll;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}

body {
	margin:0;
	font-size:13px;
	line-height:1.231;
	background:#393630;
}

body, button, input, select, textarea {
	font-family:'Open Sans',Helvetica,sans-serif;
	color:#222;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/*
a {
	color:#00e;
}

a:hover {
	color: #ff9200;
	background-color: #000;
}

a:focus {
	outline:thin dotted;
}
*/

b, strong {
	font-weight:bold;
}

pre, code {
	font-family:monospace,monospace;
	font-size:1em;
}

pre {
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word;
}

ul,ol {
	margin:1em 0;
	padding:0 0 0 40px;
}

dd {
	margin:0 0 0 40px;
}

nav ul,nav ol {
	list-style:none;
	list-style-image:none;
	margin:0;
	padding:0;
}

img {
	border:0;
	-ms-interpolation-mode:bicubic;
	vertical-align:middle;
}

header {
	background:rgba(0,0,0,0.4);
	padding:14px 0px 12px;
	text-align:center;
}

header a {
	display:block;
	text-indent:-6000px;
	overflow:hidden;
	width:118px;
	height:26px;
	background:transparent url('/img/execat.png') no-repeat left top;
	margin:0 auto;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

.hellobox {
	height:520px;
	margin:0;
	text-align:center;
	-webkit-animation:fadeIn 1s;
  -moz-animation:fadeIn 1s;
	background:#000 no-repeat center bottom;
}
.blog .hellobox {
	background-image:url('/img/snake.jpg');
}
.projects .hellobox {
	background:#000 url('/img/tree1.jpg') no-repeat center top;
}
#files .hellobox {
	background:#000 url('/img/tree2.jpg') no-repeat center top;
}
.me .hellobox {
	background:#000 url('/img/cloudy.jpg') no-repeat center top;
}
.hellobox {
	background:#000 url('/img/desert.jpg') no-repeat center top;
}

h1 {
	font-weight:900;
	font-size:8em;
	letter-spacing:-5px;
	color:#fff;
	text-align:center;
	margin:0 0 10px 0;
	padding:135px 0 0 0;
	text-shadow:0 0 30px rgba(58,93,125,0.67);
	line-height:1em;
}

h1:hover,h1:focus {
	-webkit-animation:shakey .25s ease-in-out alternate;
	-moz-animation:shakey .25s ease-in-out alternate;
}

h2 {
	font-weight:100;
	font-size:2em;
	color:#fff;
	text-align:center;
	border-radius:4px;
	padding:0;
	margin:0;
	text-shadow:0 0 5px rgba(58,93,125,1);
	transition:all .2s linear;
	-o-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear;
}

h4 {
	font-size:1.7em;
	font-weight:200;
	margin:40px 20px 10px 20px;
	transition:all .2s linear;
	-o-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear;
}

nav {
	background:rgba(0,0,0,0.4);
	text-align:center;
}

p {
	color:rgba(255,255,255,0.5);
	font-size:1.1em;
}

nav ul li {
	display:inline-block;
	margin:22px 10px 23px;
	color:#fff;
	font-size:1.4em;
	font-weight:200;
	color:#999;
	text-transform:uppercase;
	font-size:.9em;
}

nav ul li a {
	color:#ffffff;
	text-decoration:none;
	font-size:1.4em;
	padding:6px 12px;
	border-radius:4px;
	transition:all .2s linear;
	-o-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear;
}

nav ul li a.active {
	color:#ff9200;
	background:rgba(255,255,255,0.3);
}

nav ul li a:hover {
  background-color: #000;
  color: #ff9200;
}

nav ul li a:focus {
	outline:thin dotted;
}

.navbar {
}

footer {
	color:#fff;
	text-align:center;
}

pre {
	margin:20px auto 40px;
	width:70%;
	background:rgba(0,0,0,0.4);
	display:block;
	color:#fff;
	border-radius:8px;
	text-align:left;
	font-size:1.3em;
	padding:20px 30px;
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.39),0 1px 0 rgba(255,255,255,0.16);
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.39),0 1px 0 rgba(255,255,255,0.16);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.39),0 1px 0 rgba(255,255,255,0.16);
	transition:all .2s linear;
	-o-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear;
}

.clearfix:before,.clearfix:after {
	content:"";
	display:table;
}

.clearfix:after {
	clear:both;
}

.clearfix {
	zoom: 1;
}


@media only screen and (min-width:480px) {
	/* Style adjustments for viewports 480px and over go here */
}

@media only screen and (max-width:600px) {
	/* Style adjustments for viewports 480px and over go here */
	.kdlogo {
		background-size:auto 25px;
		width:99px;
		height:25px;
	}
	h1 {
		font-size:4em;
		letter-spacing:-2px;
		margin:0 0 10px 0;
		padding:80px 0 0 0;
	}
	h2 {
		font-size:1.5em;
	}
	h4 {
		font-size:1.4em;
	}
	.hellobox {
		height:320px;
		background-size:auto 330px;
	}
	nav ul li a {
		font-size:1.2em;
		padding:4px 6px;
		border-radius:4px;
	}
	pre {
		margin:20px auto 40px;
		width:70%;
		font-size:1.1em;
		padding:20px 30px;
	}
	@media only screen and (min-width: 768px) {
		/* Style adjustments for viewports 768px and over go here */
	}

