<aside id="logo" class="clearfix">
<div class="clearfix">
<a href="/"></a>
</div>
</aside>
<ul id="user_meta">
<li class="blog_name">
<h1 id="blog_name">
<a href="/">{{ site.title }}'s blog</a>
</h1>
</li>
<li class="tagline">
<h2 id="tagline">
{{ site.tagline }}
</h2>
</li>
<li class="link">
<a href="https://github.com/{{ site.owner.github }}">github.com/{{ site.owner.github }}</a>
</li>
<li class="link twitter">
<a href="https://twitter.com/{{ site.owner.twitter }}" target="_blank">@{{ site.owner.twitter }}</a>
</li>
<li class="link feed">
<a href="{{ site.url }}/feed.xml">RSS feed</a>
</li>
</ul>
<aside id="linkback"><span class="linkback_text">Display this shit</span><strong><a href="#">{{ site.tagline }}</a></strong>
</a>
</aside>