---
layout: base
---
<section id="river" role="main">
<header id="postedbar">
<!--
<time style="color:#613854">Posted on</time>
<br />
<time id="top_time" datetime="2012-09-06">June 09, 2013</time>
-->
<div id="backhome">
<ul>
<li><a href="/">Homepage</a></li>
</ul>
</div>
</header>
<article id="sample_post" class="post">
<!--
<div id="datebar"></div>
-->
<!--
<h2>
<a href="/blog/sample_post.html" style="border: none; !important;">Sample post</a>
</h2>
-->
<div id="postSpecs" style="letter-spacing: 0.1em;">
<!--
??? words &#8226; reading time ??? minutes
-->
</div>
<div id="likes" class="click_like">
<!--
<a href="#"><i class="icon-thumbs-up" onClick="make_count(jQuery(this)); return false;" style="margin-left: 0px;" data-id="sample_post">0</i>
</a>
-->
</div>
<p>
{{ content }}
</p>
</article>
<footer id="paginate"></footer>
<footer>{% include footer.html %}</footer>
</section>