---
layout: base
---
<section id="river" role="main">
<header id="postedbar">
<div id="backhome">
<ul>
<li><a href="/">Homepage</a></li>
</ul>
</div>
</header>
<article id="sample_post" class="post">
<div id="datebar"></div>
<h2>
<a href="{{ page.url }}" style="border: none; !important;">
{% if site.index_page_name %}
{{ site.index_page_name }}
{% else %}
{{ site.title }} -- {{ site.tagline }}
{% endif %}
</a>
</h2>
<!--
<div id="postSpecs" style="letter-spacing: 0.1em;">
{{ page.content | number_of_words }} words &#8226; reading time ??? minutes
</div>
-->
<div id="likes" class="click_like">
<!--
<a href="#"><i class="icon-thumbs-up" onClick="make_count(jQuery(this)); return false;" style="margin-left: 0px;" data-id="sample_post">0</i>
</a>
-->
</div>
<p>
{{ content }}
</p>
</article>
<footer id="paginate"></footer>
<footer>{% include footer.html %}</footer>
</section>