---
layout: base
---
<section id="river" role="main">
<header id="postedbar">
<time style="color:#613854">Posted on</time>
<br />
<time id="top_time" datetime="{{ page.date | date: "%d/%m/%Y" }}">{{ page.date | date: "%m/%d/%Y" }}</time>
<div id="backhome">
<a href="/">Homepage</a>
</div>
</header>
<article id="{{ page.id }}" class="post">
<div id="datebar">{{ page.date }}</div>
<h2>
<a href="{{ page.url }}" style="border: none; !important;">{{ page.title }}</a>
</h2>
<div id="postSpecs" style="letter-spacing: 0.1em;">
{{ page.content | number_of_words }} words &#8226; reading time ??? minutes
</div>
<div id="likes" class="click_like">
<!--
<a href="#"><i class="icon-thumbs-up" onClick="make_count(jQuery(this)); return false;" style="margin-left: 0px;" data-id="sample_post">0</i>
</a>
-->
</div>
<p>
{{ content }}
</p>
</article>
<footer id="paginate"></footer>
<footer>{% include footer.html %}</footer>
</section>